pre {{localVera3Stats}}
button(type="button", *ngIf="showExportButton", (click)="exportDatabaseManually()") Trigger database export (scp + zip)
hr
table
	thead
		tr
			th Date
			th Size
			th FileName
			th OriginalFileName
	tbody
		tr(*ngFor="let stat of exportFileStats")
			td {{stat.dateAdded}}
			td {{stat.length}}
			td {{stat.fileName}}
			td {{stat.originalFileName}}