.container
	.box.bg-aqua
		h2 {{stats.ads_blocked_today}}
		p DNS Queries Blocked Today
	.box.bg-green
		h2 {{stats.dns_queries_today}}
		p DNS Queries Today
.container
	.box.bg-yellow
		h2 {{stats.ads_percentage_today}} %
		p Of Today's Queries Were Blocked
	.box.bg-red
		h2 {{stats.domains_being_blocked}}
		p Domains Being Blocked