h4 Seven segments info
h2 {{stats.watt}} watt
.container
	.box.bg-aqua
		h2 {{stats.thisWeekTotal}}
		p kWh this week
	.box.bg-green
		h2 {{stats.lastWeekTotal}}
		p kWh last week
	.box.bg-yellow
		h2 {{stats.thisMonthTotal}}
		p kWh this month
	.box.bg-red
		h2 {{stats.lastMonthTotal}}
		p kWh last month
pre {{debug | json}}