.content {
	margin-left: 3rem;
	transition: all .5s;
}

/deep/ .aside-open .content {
	margin-left: 11rem;
}

.ui-g {
	height: 100%;
	position: relative;

	&:after{
		content: '';
		clear: both;
		display: block;
	}
}