ng-container(*ngIf="clientModel.total")
	h2 {{clientModel.total.heaterMeterGroup.name}}
	app-nvd3([options]="options", [data]="clientModel.total.yearGraphData")

ng-container(*ngFor="let room of clientModel.clientModels")
	h2 {{room.heaterMeterGroup.name}}
	app-nvd3([options]="options", [data]="room.yearGraphData")
