.container {
	display: flex;
	overflow: hidden;
	height: 100vh;
	position: relative;
	width: 100%;
	backface-visibility: hidden;
	will-change: overflow;

	app-side-menu,
	.content {
		overflow: auto;
		height: auto;
		min-height: 100vh;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
	}

	app-side-menu::-webkit-scrollbar,
	.content::-webkit-scrollbar {
		display: none;
	}

	.content {
		transition: all .5s;
		flex: 1;
	}
	
}